body{
    background-color: #d3d3d1;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
.cabecario{
    width: 100%;
    height: 54px;
    background-color: white;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.icones{
    width: 800px;
    height: 30px;
    display: flex;
    justify-content: space-around;  
}
.icone_cabecario{
    width: 25px;
    height: 54px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icone_linkedin{
    width: 35px;
    height: 35px;
    margin-top: 8px;
}
/* .icone_cabecario p{
    width: 90px;
    background-color: aquamarine;
} */
.input_pesquisar{
    width: 300px;
    height: 35px;
    border-radius: 3px;
    margin-top: 6px;
    display: flex;
    flex-direction: row;
    border: none;
    background-color: rgb(235, 237, 249);
}
.txt_icon_cabecario{
    white-space: nowrap;
    font-size: 11px;
    text-align: center;
    margin-top: 0;
}

.icone_cabecario_eu{
    width: 30px;
    height: 30px;
    margin-top: 8px;
    border-radius: 50%;

}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.perfil{
    width: 230px;
    height: 380px;
    background-color: white;
    margin-left: 55px;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
}
.capa_perfil_img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.foto_perfil{
    position: absolute;
    top: 30px;
    left: 78px;
}
.foto_perfil_img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid white;
}
.nome_perfil{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.titulo_perfil{
    font-size: 16px; 
}

.p_perfil{
    height: 80%;
    display: flex;
    margin: 0 14px 0 14px;
    font-size: 11px;
    color: #808080;
}
.borda_perfil{
    margin-top: 10px;
    border-bottom: solid 1px rgb(199, 198, 198);
}

.Visualizações_perfil, .Impressoes_publicacoes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #808080;
    margin-top: 15px;
    font-size: 12px;
    padding: 0 8px;
}
.icone_navigator{
    width: 10px;
    margin-right: 2px;
    
}

.navigator_perfil{
    font-size: 12px;
    display: flex;
    margin: 25px 15px 25px 15px;
}
.itens_salvos{
    display: flex;
    font-size: 12px;
    margin: 18px 0 0 15px;
}
.icone_salvos{
    width: 10px;
    margin-right: 13px;
}

.primeiro_post{
    width: 555px;
    height: 108px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;

}

.pesquisar_primeiro_post{
    display: flex;
    flex-direction: row;
}

.img_primeiro_post{
    width: 45px;
    height: 45px;
    border-radius: 50px;
    margin: 12px 8px 0 14px;
}
.input{
    width: 84%;
    height: 40px;
    border-radius: 25px;
    border: solid #808080 1px;
    margin-top: 12px;
}
.icones_primeiro_post{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 15px; 
}
.icones_principal{
    width: 22px;
    height: 22px; 
}

.p_icons{
    width: 40px;
    margin-right: 100px;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.p_txt{
    white-space: nowrap;
    display: flex;
    margin-left: 5px;
}

.sessao_direita{
    margin: 0 45px 0 1px;
}

.noticias{
    width: 300px;
    height: 350px;
    background-color: white;
    border-radius: 10px;
    margin: 0 0 10px 0;
    font-family: sans-serif; 
    font-size: 12px;
    padding: 12px 10px;
    box-sizing: border-box;

}
.titulo_noticias{
    /* margin:15px 0  10px 18px; */
    color: rgb(56, 52, 52);
}
.p_noticias{
    margin-top: 4px;
    font-size: 10px;
    color: #808080;
}

.recentes{
    width: 200px;
    height: 450px;
    background-color: white;
    color: #808080;
    margin-left: 55px;
    border-radius: 10px;
    padding: 20px 15px;
    font-size: 14px;
}
.recentes_titulo{
   margin-bottom: 14px;
}
.recentes_conteudo{
    width: 350px;
    height: 25px;
    display: flex;
    font-size: 12px;

}
.icones_recentes{
    width: 15px;
    height: 15px;
    display: flex;
    margin-right: 9px;
}
.grupos_recentes_titulo, .hashtags_segidas_titulo{
    margin: 25px 0 14px 0;
    color: rgba(0, 89, 233, 0.79);
}

.eventos{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgba(0, 89, 233, 0.79);
}
.icone_eventos{
    width: 12px;
    height: 20px;
    color: black;
}

.hashtags_segidas{
    width: 30px;
    height: 25px;
    display: flex;
}
.hashtags_segidas_conteudo{
    width: 350px;
    height: 25px;
    display: flex;
    font-size: 12px;
    

}

.icones_hashtags{
    width: 15px;
    height: 15px;
    display: flex;
    margin-right: 9px;
    
}
.hashtags_segidas_ver_tudo{
    font-size: 12px;
    margin-left: 24px;
}

.borda_recentes{
    margin: 10px 0 10px 0;
    border-bottom: solid 1px rgb(199, 198, 198);
}
.descubra_mais_recentes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.descubra_mais_recentes_p{
    margin: 5px 0 0 0;
}

.comece_uma_publicacao {
    width: 555px;
    height: 590px;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 10px;
}
.cabecario_publicacao{
    height: 70px;
    display: flex;
    text-align: left;
}

.icone_publicacao{
    width: 50px;
    height: 50px;
    padding: 12px 16px;
}

.nome_pagina_publicacao{
    font-size: 14px;
    
}
.p_nome_pagina_publicacao{
    font-size: 11px;
    color: #808080;
    /* padding: 4px; */
}

.h4_legenda_publicacao{
    width: 80%;
    font-size: 12px;
    text-align: left;
    word-wrap: break-word;
    padding: 0 15px 0 15px;
    color: rgb(70, 68, 68);
    font-family: Arial, Helvetica, sans-serif;
}

.imagem_feed_01{
    width: 100%;
    height: 400px;
}

.total_reacoes{
    display: flex;
    justify-content: space-between;
}

.emogi_publicacao{
    display: flex;
    position: relative;
    margin: 5px  5px 0 10px;
}

.reacao_publicacao1{
    width: 13px;
    border-radius: 50%;
    background-color: rgba(116, 139, 220, 0.629);
    border: 1px solid rgb(203, 203, 203);
}
.reacao_publicacao2{
    width: 13px;
    position: absolute;
    left: 11.5px;
    border-radius: 50%;
    background-color: rgba(110, 204, 201, 0.714);
    border: 1px solid rgb(203, 203, 203);
}
.reacao_publicacao3{
    width: 13px;
    position: absolute;
    left: 22px;
    border-radius: 50%;
    background-color: rgba(148, 133, 163, 0.558);
    border: 1px solid rgb(203, 203, 203);
}
.numero_curtidas{
    font-size: 13px;
    margin-left: 25px;
}
.contagem_de_reacoes{
    display: flex;
    flex-direction: row;
}
.numero_de_comentarios{
    font-size: 13px;
    margin: 5px 5px 0 0;

}
.Numero_de_compartilhamentos{
    font-size: 13px;
    margin: 5px 15px 0 0;
}
.borda_reacoes{
    width: 92%;
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 16px;
    border: 1px solid rgba(238, 234, 234, 0.625);
}



.reacoes_publicacao{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}
.reacoes_icone{
    margin-right: 5px;
}
.gostei_publicacao{
    width: 70px;
    display: flex;
    align-items: center;
}
.comentar_publicacao{
    width: 95px;
    display: flex;
    align-items: center;
}
.compartilhar_publicacao{
    width: 115px;
    display: flex;
    align-items: center;
}
.enviar_publicacao{
    width: 70px;
    display: flex;
    align-items: center;

}

.anuncios{
    width: 300px;
    height: 260px;
    background-color: white;
    border-radius: 10px;
}

.capa_perfil_anuncios_img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
}

.foto_perfil_linkedin{
    display: flex;
    position: absolute;
    margin: -40px 0 0 15px;

}
.foto_perfil_linkedin_img{
    width: 70px;
    height: 70px;
    position: absolute;
    border-radius: 3px;
    border: 2px solid rgb(231, 223, 223);
}

.nome_linkedin_preimium{
    margin: 30px 0 10px 15px;
    display: flex;
    flex-direction: column;
}

.titulo_linkedin_preimium{
    font-size: 16px; 
}
.p_linkedin_preimium{
    height: 80%;
    margin: 0 15px 15px 0;
    display: flex;
    font-size: 15px; 
}

.botao_linkedin_premium{
    width: 90%;
    height: 30px;
    display: flex;
    margin: 0 15px 0 15px;
    color:  rgba(0, 89, 233, 0.79);
    border: 2px solid  rgba(0, 89, 233, 0.79);
    border-radius: 20px;
}

.p_botao_linkedin{
    width: 100%;
    display: flex;
    margin: 0 0 0 90px;
    flex-direction: row;
    align-items: center;
}

.publicacao{
    z-index: 99;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;

}
.caixa_de_publicacao{
    width: 750px;
    height: auto;
    min-height: 550px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.304);
    background-color: white;
}
.usuario{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.div_usuario{
    display: flex;
}

.foto_usuario{
    margin: 25px 10px 0 30px;
}

.foto_usuario_img{  
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid white;
    
}

.h3_nome_usuario{
    margin: 33px 0 2px 0px;
}

.p_nome_usuario{
    margin: 0;
    color: #808080;

}

.botao_de_sair{
    display: flex;

}

.icone_sair{
    width: 17px;
    margin: 25px ;
    
}

.input_txt_publicacao{
    width: 100%;
    height: 200px;
    margin-top: 38px;
    border: solid 1px #80808044;
    font-size: 20px;
    outline: none;    
    resize: none;
    padding: 5px;
    box-sizing: border-box;
}

.icones_publicacao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 55px;
    align-items: center;

}
.icone_adicionar_img{
    width: 22px;
    height: 22px;
    margin-left: 30px;
    color: black;
}

.botoes_de_publicar{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.icone_agendar_publicacao{
    width: 22px;
    height: 22px;
    margin: 0 12px 0 0;
}
.botao_publicar{
    width: 90px;
    height: 35px;
    background-color: rgba(0, 89, 233, 0.79);
    display: flex;
    margin-right: 20px;
    align-items: center;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 0 0 0 18px;
    
}

.container {
    text-align: center;
    margin-top: 50px;
}


.input-container{
    display: none;
    

}
.input-container.show{
    display: block; 
}    

.imageContainer{
    max-height: 180px;
    overflow-y: scroll;
}

.imagemAdicionada{
    width: 100%;
}


